@import "variables";

* {
  font-family: "Montserrat", sans-serif;
}

#nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 1rem;

  .navbar-brand {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav {
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-toggler-icon {
    background-image: url("img/nav/ico-toggler.svg") !important;
    width: 2.3rem;
    height: 2.3rem;
  }

  .nav-link {
    color: $white !important;
    font-weight: 600;
    padding: 0;
  }

  .iso-logo-nav {
    width: 3rem;
    @media (min-width: $tablet) {
      width: 3.2rem;
    }
  }

  .ico-message {
    display: none;
    &:hover {
      opacity: 0.8;
    }
  }

  .nav-item {
    padding-bottom: 2.2rem;
  }

  @media (min-width: $tablet) {
    .nav-item::after {
      content: "";
      display: block;
      width: 0px;
      height: 2px;
      background: $white;
      transition: 0.2s;
    }
    .nav-item:hover::after {
      width: 100%;
    }
    .nav-link {
      padding: 15px 5px;
      transition: 0.2s;
    }

    .navbar-brand {
      padding-right: 0rem;
    }
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    .ico-message {
      display: block;
      width: 2rem;
      img {
        width: 1.6rem;
      }
    }
    .nav-item {
      margin-right: 2rem;
      padding-bottom: 0rem;
    }
  }
  @media (min-width: $desktop) {
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;

    .nav-item {
      margin-right: 3rem;
    }

    .navbar-collapse {
      margin-left: 6rem;
    }
  }
  @media (min-width: $full-desktop) {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

#nav2 {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 3000;
  background-color: $white;
  opacity: 0.9;

  .navbar-brand {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav {
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-toggler-icon {
    background-image: url("img/nav/ico-toggler-red.svg") !important;
    width: 2.3rem;
    height: 2.3rem;
  }

  .nav-link {
    color: $red !important;
    font-weight: 600;
    padding: 0;
  }

  .iso-logo-nav {
    width: 3rem;
    @media (min-width: $tablet) {
      width: 3.2rem;
    }
  }

  .ico-message {
    display: none;
    &:hover {
      opacity: 0.8;
    }
  }

  .nav-item {
    padding-bottom: 2.2rem;
  }

  @media (min-width: $tablet) {
    .nav-item::after {
      content: "";
      display: block;
      width: 0px;
      height: 2px;
      background: $red;
      transition: 0.2s;
    }
    .nav-item:hover::after {
      width: 100%;
    }
    .nav-link {
      padding: 15px 5px;
      transition: 0.2s;
    }

    .navbar-brand {
      padding-right: 0rem;
    }
    padding-left: 10rem;
    padding-right: 10rem;
    .ico-message {
      display: block;
      width: 2rem;
      img {
        width: 1.6rem;
      }
    }
    .nav-item {
      margin-right: 2rem;
      padding-bottom: 0;
    }
  }
  @media (min-width: $desktop) {
    padding-left: 8rem;
    padding-right: 8rem;

    .nav-item {
      margin-right: 3rem;
    }

    .navbar-collapse {
      margin-left: 6rem;
    }
  }

  @media (min-width: $full-desktop) {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

#carousel {
  .carousel-item {
    .carousel-img {
      display: none;
      background-size: cover;
      background-position: center;
    }
    .carousel-img-responsive {
      display: block;
      background-size: cover;
      background-position: center;
      width: 100%;
    }

    @media (min-width: $iphone) {
      .carousel-img {
        display: block;
        height: 100vh;
        @media (min-width: $tablet) {
          width: 100%;
        }
      }
      .carousel-img-responsive {
        display: none;
      }
    }

    @media (min-width: 1500px) {
      .carousel-img {
        //height: 100vh;
        width: 100%;
        background-size: cover;
        height: auto;
      }
    }

    .div-res {
      top: 65%;
      @media (min-width: $tablet) {
        display: none;
      }
    }

    .div-des {
      opacity: 0;
      @media (min-width: $tablet) {
        opacity: 1;
      }
    }

    .carousel-div-text {
      position: absolute;
      color: white;
      //top: 50%;
      @media (min-width: $tablet) {
        //top:none;
        //display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
      h1 {
        font-weight: 800;
        font-size: 1.9rem;
        line-height: 1.2;

        @media (min-width: $tablet) {
          font-size: 3.2rem;
        }

        @media (min-width: $desktop) {
          font-weight: 700;
          margin-top: 0;
          font-size: 4rem;
          line-height: 1;
        }
      }

      h3 {
        font-size: 1.2rem;
        @media (min-width: $tablet) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .carousel-indicators {
    justify-content: left;
    padding-left: 2rem !important;
    margin-left: 0;
    padding-bottom: 1rem !important;

    li {
      width: 10px !important;
      height: 10px !important;
      border-radius: 2rem !important;
      border-top: 0px solid transparent !important;
      border-bottom: 0px solid transparent !important;
      margin-bottom: 2rem;
      margin-right: 10px;
    }

    @media (min-width: $tablet) {
      margin-left: 16rem;
      left: 0;
      padding-left: 0 !important;
      padding-bottom: 2rem !important;

      li {
        width: 12px !important;
        height: 12px !important;
        border-radius: 2rem !important;
        border-top: 0px solid transparent !important;
        border-bottom: 0px solid transparent !important;
        margin-bottom: 2rem;
        margin-right: 10px;
      }
    }

    @media (min-width: $desktop) {
      margin-left: 0 !important;
      padding-left: 20rem !important;
    }

    @media (min-width: $full-desktop) {
      padding-left: 24rem !important;
    }
  }
}

#redes {
  display: none;
  @media (min-width: $tablet) {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 37%;
    @media (min-width: $desktop) {
      top: 41%;
    }
    display: flex;

    .redes-center {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 0vh;
    }

    .redes-img {
      margin-left: 11rem;
      @media (min-width: $full-desktop) {
        margin-left: 13rem;
      }
      img {
        width: 2.5rem;
      }
    }
    .redes-div {
      position: absolute;
      right: 0;
      display: grid;
      margin-right: 11rem;
      @media (min-width: $full-desktop) {
        margin-right: 13rem;
      }
      img {
        width: 2rem;
        margin-bottom: 1rem;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 41%;
    display: flex;

    .redes-center {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 0vh;
    }

    .redes-img {
      margin-left: 9.2rem;
      @media (min-width: $full-desktop) {
        margin-left: 13rem;
      }
      img {
        width: 2.5rem;
      }
    }
    .redes-div {
      position: absolute;
      right: 0;
      display: grid;
      margin-right: 9.2rem;
      @media (min-width: $full-desktop) {
        margin-right: 13rem;
      }
      img {
        width: 2rem;
        margin-bottom: 1rem;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#footer {
  border-top: 5px $red solid;
  width: auto !important;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background-image: url("img/footer/footer_responsive.jpg");
  color: $white;
  .footer-social {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    a {
      margin: auto;
    }
    img {
      width: 2rem;
    }
  }
  .footer-text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
    a {
      color: $white;
    }
  }
  .footer-text-home,
  .footer-text-nosotros {
    display: none;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    background-image: url("img/footer/footer.jpeg");
    background-size: contain;
    position: relative;
    padding-left: 11rem;
    padding-right: 11rem;

    div {
      margin-right: 10rem;
    }

    .div-home-nosotros {
      display: flex;
    }

    .footer-text-home,
    .footer-text-nosotros {
      display: block;
    }
    .footer-social {
      display: grid;
      position: absolute;
      right: 0rem;
      margin-right: 7rem;
      @media (min-width: $tablet) {
        margin-right: 3rem;
      }

      img {
        width: 2rem;
        margin-bottom: 1rem;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .footer-text {
      text-align: left;
    }
    .footer-text-home,
    .footer-text-nosotros {
      a,
      p {
        font-size: 0.8rem;
        font-weight: 500;
        color: $white;
      }
    }
    .footer-text-title {
      font-size: 0.9rem !important;
    }
  }
  @media (min-width: $desktop) {
    padding-left: 9rem;
    padding-right: 9rem;

    @media (min-width: $full-desktop) {
      padding-left: 13rem;
      padding-right: 13rem;
    }

    .footer-social {
      padding-left: 5.5rem;
      padding-right: 5.5rem;

      @media (min-width: $full-desktop) {
        padding-right: 8.5rem;
      }
    }
  }
}

/* MARGINS */
.padding-t-responsive {
  padding-top: 4rem;
}
.padding-b-responsive {
  padding-bottom: 4rem;
}
.padding-l-r-responsive {
  padding-left: 2rem;
  padding-right: 2rem;
  @media (min-width: $tablet) {
    padding-left: 16rem;
    padding-right: 16rem;
  }
  @media (min-width: $desktop) {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  @media (min-width: $full-desktop) {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}
.padtop-5 {
  padding-top: 5rem;
}
.padtop-10 {
  padding-top: 10rem;
}
.padbot-10 {
  padding-bottom: 10rem;
}
.marbot-1 {
  margin-bottom: 1rem;
}
.marbot-2 {
  margin-bottom: 2rem;
}

/* BOTONS */
.btn {
  padding: 0.75rem 0.1rem;
  border-radius: 0.5rem;
}

/* TEXT */
.title {
  font-weight: 600;
}
.title-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: $gray;
}
.description-text {
  font-size: 1.1rem;
  @media (min-width: $tablet) {
    font-size: 1rem;
    @media (min-width: $desktop) {
      font-size: 1.3rem;
    }
  }
}
.subtitle-text {
  font-size: 1.1;
}
.text-bold {
  font-weight: 800;
}
.text-semibold {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.color-container-text {
  font-size: 1.1rem;
  @media (min-width: $tablet) {
    font-size: 1rem;
  }
  @media (min-width: $desktop) {
    font-size: 1.3rem;
  }
  font-weight: 300;
  color: $white;
}
.gray-text {
  color: $gray;
}
.darkgray-text {
  color: $darkGray;
}
.white-text {
  color: $white;
}
.orange-text {
  color: $orange;
}
.purple-text {
  color: $purple;
}
.red-text {
  color: $red;
}
/*.text-underline {
  @media (min-width: $tablet) {
    border-bottom: 2px solid $white;
  }
}*/
/*.hover-underline {
  &:hover {
    @media (min-width: $tablet) {
      text-decoration: 2px underline;
    }
  }
}*/
.background-orange {
  background: $orange;
}

.background-red {
  background: $red;
}

.background-purple {
  background: $purple;
}

/* Texture */
.texture {
  @media (min-width: $tablet) {
    background-image: url("img/texture.jpg");
    background-repeat: no-repeat;
  }
}

#text-carousel {
  display: none;
  @media (min-width: $iphone) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 74%;
    color: $white;
    @media (min-width: $tablet) {
      top: 40%;
      @media (min-width: $desktop) {
        top: 43%;
      }
    }
    h1 {
      font-weight: 800;
      font-size: 1.9rem;
      line-height: 1.2;

      @media (min-width: $tablet) {
        font-size: 3.2rem;
      }

      @media (min-width: $desktop) {
        font-weight: 700;
        margin-top: 0;
        font-size: 4rem;
        line-height: 1;
      }
    }
    h3 {
      font-size: 1.2rem;
      @media (min-width: $tablet) {
        font-size: 1.5rem;
      }
    }
  }
}

// Parallax
.parallax {
  @media (min-width: $iphone) {
    background-size: cover;
    background-attachment: fixed;
  }
}
.parallax-img {
  height: 100vh;
}
.parallax-img-sabores {
  @media (min-width: $iphone) {
    background-image: url("img/categories/slider_01_sabores.jpg");
  }
}
.parallax-img-fragancias {
  @media (min-width: $iphone) {
    background-image: url("img/categories/slider_01_fragancias.jpg");
  }
}

.parallax-img-nosotros {
  @media (min-width: $iphone) {
    background-image: url("img/about/slider_01.jpg");
  }
}
