@import "variables";

@media (min-width: $tablet) {
  @keyframes FadeIn {
    0% {
      opacity: 0;
      -webkit-transition-duration: 1.2s;
      transition-duration: 0.8s;
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      pointer-events: auto;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .nav-item-animation,
  .ico-message-animation,
  .animation-carousel {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
  }
  .nav-item-animation {
    animation-delay: 1.5s;
  }
  .ico-message-animation {
    animation-delay: 2s;
  }
  .animation-carousel {
    animation-delay: 3s;
  }
  /* Animation */
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
  }
  .animatedFadeInUp {
    opacity: 0;
  }
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
}

#categories {
  .container {
    width: auto !important;
    margin-right: 0;
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;

    @media (min-width: $tablet) {
      max-width: none;
      padding-left: 15rem;
      padding-right: 15rem;
    }
    @media (min-width: $desktop) {
      padding-left: 19rem;
      padding-right: 19rem;
    }
    @media (min-width: $full-desktop) {
      padding-left: 23rem;
      padding-right: 23rem;
    }
  }
  @media (min-width: $tablet) {
    position: relative;
    .row {
      padding-top: 0;
      position: absolute;
      top: 10%;
      @media (min-width: $desktop) {
        top: 15%;
      }
    }
  }

  .div-fragancias {
    h2 {
      color: $purple;
      font-weight: 600;
    }
    img {
      width: 20rem;
      @media (min-width: $tablet) {
        width: 15rem;
      }
      @media (min-width: $desktop) {
        width: 20rem;
      }
    }
    h5 {
      font-weight: 600;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    p {
      font-weight: 300;
    }
    h5,
    p {
      color: $gray;
      @media (min-width: $tablet) {
        font-size: 1rem;
      }
      @media (min-width: $desktop) {
        font-size: 1.3rem;
      }
    }
    .btn {
      margin-top: 1rem;
      font-weight: bold;
      width: 100%;
      background: $white;
      color: $purple;
      border: 2px solid $purple;
    }
    .link-more {
      display: none;
    }
    @media (min-width: $tablet) {
      padding-right: 6rem;
      h2 {
        color: $gray;
      }
      .btn {
        display: none;
      }
      p {
        margin-bottom: 0rem;
        @media (min-width: $desktop) {
          margin-bottom: 4rem;
        }
      }
      img {
        filter: grayscale(1);
      }
      .link-more {
        display: block;
        font-weight: 600;
        color: $gray;
        text-decoration: none;
        margin-top: 2rem;
        display: flex;
        img {
          width: 3rem;
          margin-left: 1rem;
          filter: grayscale(1);
        }
        .arrow-gray {
          display: block;
        }
        .arrow-purple {
          display: none;
        }
      }

      &:hover {
        h2 {
          color: $purple;
        }
        img {
          filter: grayscale(0);
        }
        .link-more {
          color: $purple;
        }
        .arrow-gray {
          display: none;
        }
        .arrow-purple {
          display: block;
        }
      }
    }
    @media (min-width: $full-desktop) {
      p {
        padding-right: 5rem;
      }
    }
  }

  .div-sabores {
    margin-bottom: rem;
    h2 {
      margin-top: 4rem;
      color: $orange;
      font-weight: 600;
      @media (min-width: $tablet) {
        margin-top: 0rem;
      }
    }
    img {
      width: 20rem;
      @media (min-width: $tablet) {
        width: 15rem;
      }
      @media (min-width: $desktop) {
        width: 20rem;
      }
    }
    h5 {
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    p {
      font-weight: 300;
    }
    h5,
    p {
      color: $gray;
      @media (min-width: $tablet) {
        font-size: 1rem;
      }
      @media (min-width: $desktop) {
        font-size: 1.3rem;
      }
    }
    .btn {
      margin-top: 1rem;
      font-weight: bold;
      width: 100%;
      background: $white;
      color: $orange;
      border: 2px solid $orange;
    }
    .link-more {
      display: none;
    }
    @media (min-width: $tablet) {
      p {
        margin-bottom: 0rem;
        @media (min-width: $desktop) {
          margin-bottom: 4rem;
        }
      }
      h2 {
        color: $gray;
      }
      .btn {
        display: none;
      }
      img {
        filter: grayscale(1);
      }
      .link-more {
        display: block;
        font-weight: 600;
        color: $gray;
        text-decoration: none;
        margin-top: 2rem;
        display: flex;
        img {
          width: 3rem;
          margin-left: 1rem;
          filter: grayscale(1);
        }
        .arrow-gray {
          display: block;
        }
        .arrow-orange {
          display: none;
        }
      }
      &:hover {
        h2 {
          color: $orange;
        }
        img {
          filter: grayscale(0);
        }
        .link-more {
          color: $orange;
        }
        .arrow-gray {
          display: none;
        }
        .arrow-orange {
          display: block;
        }
      }
    }
    @media (min-width: $full-desktop) {
      p {
        padding-right: 5rem;
      }
    }
  }
}

#solutions {
  background-image: url("img/home/soluciones_responsive.jpg");
  @media (min-width: $iphone) {
    background-image: url("img/home/soluciones_tablet.jpg");
    @media (min-width: $desktop) {
      background-image: url("img/home/soluciones.jpg");
    }
  }

  .container {
    width: auto !important;
    margin-right: 0;
    margin-left: 0;

    @media (min-width: $tablet) {
      max-width: none;
      padding-top: 0;
    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .solutions-text {
    font-weight: 300;
    font-size: 1.1rem;
    @media (min-width: $tablet) {
      font-size: 1rem;
    }
    @media (min-width: $desktop) {
      font-size: 1.3rem;
    }
  }

  .btn {
    margin-top: 2rem;
    font-weight: bold;
    width: 100%;
    color: $white;
    background: $whiteImage;
    border: 2px solid $white;
  }

  .link-more {
    display: none;
  }

  @media (min-width: $tablet) {
    position: relative;
    .container {
      width: 45rem !important;
      padding-right: 0;
      @media (min-width: $tablet) {
        width: 48rem !important;
      }
    }
    div {
      top: 20%;
      position: absolute;
    }
    .btn {
      display: none;
    }
    .link-more {
      display: block;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      margin-top: 2rem;
      display: flex;
      img {
        width: 3rem;
        margin-left: 1rem;
      }
    }
  }

  .line-white {
    opacity: 0;
    width: 0;
    @media (min-width: $desktop) {
      opacity: 1;
      width: 0.3rem;
      position: absolute;
      right: 9rem;
      margin-top: -3rem;
    }
    @media (min-width: $full-desktop) {
      right: 13.5rem;
    }
  }
}

#quality {
  .container {
    width: auto !important;
    margin-right: 0;
    margin-left: 0;
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: $tablet) {
      max-width: none;
      padding-left: 10rem;
    }
    @media (min-width: $desktop) {
      max-width: none;
      padding-left: 8rem;
    }
    @media (min-width: $full-desktop) {
      padding-left: 12rem;
    }
  }

  .div-image-quality {
    display: none;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 3rem;
    @media (min-width: $tablet) {
      margin-bottom: 1rem;
    }
    @media (min-width: $desktop) {
      margin-bottom: 3rem;
    }
    color: $red;
  }
  .quality-text {
    font-weight: 300;
    font-size: 1rem;
    @media (min-width: $desktop) {
      font-size: 1.3rem;
    }
    span {
      color: $darkGray;
      font-weight: 700;
    }
  }
  .quality-img {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (min-width: $tablet) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @media (min-width: $desktop) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    img {
      margin-right: 1rem;
      width: 3rem;
    }
    @media (min-width: $full-desktop) {
      padding-left: 0 !important;
    }
  }
  .btn {
    margin-top: 2rem;
    font-weight: bold;
    width: 100%;
    color: $red;
    background: transparent;
    border: 2px solid $red;
  }

  .link-more {
    display: none;
  }

  @media (min-width: $tablet) {
    position: relative;
    .row {
      position: absolute;
      top: 12%;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      .div-image-quality {
        display: block;
        width: 50%;
        img {
          width: 85%;
          padding-right: 2rem;
        }
      }
      .img-calidad {
        opacity: 0;
        width: 0 !important;
        @media (min-width: $desktop) {
          opacity: 1 !important;
          width: 85% !important;
        }
      }

      @media (min-width: $desktop) {
        .img-calidad-r {
          opacity: 0 !important;
          width: 0 !important;
        }
      }

      .div-text-quality {
        width: 50%;
        margin-right: 8rem;
        //padding-right: 11rem;
        @media (min-width: $desktop) {
          div {
            padding-right: 4rem;
            width: 75%;
          }
        }
      }

      .btn {
        display: none;
      }

      .link-more {
        display: block;
        font-weight: 600;
        color: $red;
        text-decoration: none;
        margin-top: 3rem;
        display: flex;
        img {
          width: 3rem;
          margin-left: 1rem;
        }
      }
    }
  }

  .line-red {
    opacity: 0;
    width: 0;
    @media (min-width: $desktop) {
      opacity: 1;
      width: 0.3rem;
      position: absolute;
      right: 9rem;
      bottom: 15rem;
    }
    @media (min-width: $full-desktop) {
      right: 13.5rem;
    }
  }
}
