/* System Fraga */ 

$white: #FFFFFF;
$whiteImage:rgba(255,255,255,0.3);
$purple: #2B1254;
$orange: #E85C2C;
$red: #DA3638;
$gray: #6B6B6B;
$darkGray: #1F1F1F;

$iphone: 500px;
$tablet: 991px;
$desktop: 1460px;
$full-desktop: 1800px;

